@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --randColor: #1d4ed8;
    --another: #ccc;
}

html{
    font-family: "Roboto", sans-serif;
}

body{
    color: var(--randColor);
    padding: 15px 0;
    background-image: url('./assets/img/background.avif');
}

/* main title */
.main-title{
    text-transform: uppercase;
    background-color: white;
    border-radius: 15px;
    padding: 3px 15px;
    width: 750px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container>div{
    border: 1px solid #140979;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
    padding-left: 15px;
}


.create-keys-sec{
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 100;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #140979;
    transition: all 0.25s;
    display: none;
}

.create-keys-sec .create-key-way{
    width: 90%;
}

fieldset{
    padding: 30px;
    display: flex;
    gap: 15px;
    color: #140979;
    border-radius: 30px;
    width: 50%;
}

fieldset legend{
    text-transform: uppercase;
    color: red;
}

.sec-title{
    text-align: center;
    text-transform: uppercase;
}

.input-lists{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-sec{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-sec>input{
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1);
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    transition: .25 border-color;
    max-width: 70%;
    padding: 0 15px;
    outline: none;
    font-size: 17.5px;
}

.input-sec>input:hover{
    border-color: green;
}

.input-sec>input:focus{
    border-color: green;
}

.valid-message{
    color: red;
    font: 14px;
    font-style: italic;
}

.btn{
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #51b7c5;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: .25s background-color opacity;
}

.red{color: red;}
.green{color: green;}

.btn:hover{
    background-color: var(--randColor);
}
.btn:active{
    opacity: 0.7;
}

.res-wrapper input,
#checking-res{
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 25px;
    padding: 3px;
    color: white;
}
.res-wrapper>div{
    margin-bottom: 5px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-sig-sec{
    
}

.pub-key-input{
    display: flex;
    flex-direction: column;
    position:relative;
}

.pub-key-input>fieldset{
    width: 100%;
    flex-direction: column;
}

.text-process{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    gap: 10px;
    box-shadow: 0px 0px 4px 5px #9fa8f7;
}

.request{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-process fieldset{
    width: 100%;
    flex-direction: column;
    box-shadow: 2px 2px 4px #bbc0ec;
}

.text-process textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    overflow: auto;
}

.special-btn{
    cursor: pointer;
    padding: 10px;
    background-color: #F42F2C;
    border: 2px solid #F42F2C;
    box-shadow: 2px 2px 4px #979bc0;
    color: white;
    border-radius: 5px;
    transition: all 0.25s;
}

.special-btn:hover{
    color: red;
    background-color: white;
}

.special-btn:active{
    box-shadow: none;
}



fieldset .save-sig{
    align-self: flex-end;
}

.process-wrapper{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.wrapper{
    width: 100% !important;
    padding: 15px 0 15px 0 !important;
}

.process-wrapper>div{
    width: 32%;
}

.valid-infor{
    background-color: green !important;
    border-color: green !important;
}

.invalid-infor{
    background-color: red !important;
    border-color: red !important;
}

.text-wrapper{
    position: relative;
}

.word-text{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
}