@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --randColor: #1d4ed8;
    --another: #ccc;
}

html{
    font-family: "Roboto", sans-serif;
}

body{
    color: var(--randColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 15px 0;
}

/* main title */
.main-title{

}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container>div{
    border: 1px solid ;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
    padding-left: 150px;
}


.create-keys-sec{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset{
    padding: 30px;
    display: flex;
    gap: 20px;
    color: #140979;
    border-radius: 10px;
    width: 50%;
}

.sec-title{
    text-align: center;
}

.input-lists{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-sec{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-sec>input{
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1);
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    transition: .25 border-color;
    max-width: 70%;
    padding: 0 15px;
    outline: none;
    font-size: 17.5px;
}

.input-sec>input:hover{
    border-color: lightgreen;
}

.input-sec>input:focus{
    border-color: lightgreen;
}

.valid-message{
    color: red;
    font: 14px;
    font-style: italic;
}

.btn{
    text-align: center;
    width: 200px;
    height: 43px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #51b7c5;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: .25s background-color opacity;
}

.red{color: red;}
.green{color: green;}

.btn:hover{
    background-color: var(--randColor);
}
.btn:active{
    opacity: 0.7;
}

.res-wrapper input,
#checking-res{
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 25px;
    padding: 3px;

}
.res-wrapper>div{
    margin-bottom: 5px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-sig-sec{
    
}

.pub-key-input{
    display: flex;
    flex-direction: column;
}

.pub-key-input>fieldset{
    width: 100%;
    flex-direction: column;
}

.text-process{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    gap: 20px;
    
}

.request{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-process fieldset{
    width: 100%;
    flex-direction: column;
    background-color: rgb(243, 243, 195);
    box-shadow: 2px 2px 4px #bbc0ec;
}

.text-process textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    overflow: auto;
}

.special-btn{
    cursor: pointer;
}